.clone-container {
    flex-grow: 1;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed blue;
    width: 100%;
    height: 100vh;
    background-color: aqua;
  }